@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
}
body {
  font-family: "Roboto";
  font-weight: 600;
}

*, *::after, *::before {
  box-sizing: border-box;
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100%;
}

button, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.container {
  max-width: 976px;
  padding: 0px 15px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0px 10px;
  }
}

.site-container {
  height: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-screen__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: linear-gradient(180deg, #E6F5FF 0%, #F3F8FB 69.8%, rgba(243, 248, 251, 0) 100%);
  border-radius: 16px;
}
@media (max-width: 768px) {
  .main-screen__inner {
    flex-direction: column-reverse;
    padding: 15px;
  }
}
.main-screen__content {
  margin-right: 50px;
  margin-top: -50px;
}
@media (max-width: 768px) {
  .main-screen__content {
    margin-top: 15px;
  }
}
.main-screen__content h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
}
@media (max-width: 768px) {
  .main-screen__content h1 {
    font-size: 24px;
  }
}
.main-screen__content p {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  margin-top: 20px;
  max-width: 450px;
}
.main-screen__img {
  max-width: 350px;
}
@media (max-width: 768px) {
  .main-screen__img {
    margin-bottom: 20px;
  }
}
.main-screen__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-screen .timer {
  display: flex;
  padding: 17px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 25px;
}
.main-screen .timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 40px !important;
  max-width: 40px !important;
}
.main-screen .timer svg {
  margin: 0px 6px;
  margin-top: 12px;
}
.main-screen .timer .number {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #303133;
}
.main-screen .timer .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #303133;
  text-transform: uppercase;
}

.video-block__inner {
  display: flex;
}
@media (max-width: 768px) {
  .video-block__inner {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
  }
}
.video-block .video {
  min-width: 70%;
  margin-right: 30px;
  position: relative;
}
.video-block .video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 48.1C30.3652 48.1 36.4697 45.6136 40.9706 41.1877C45.4714 36.7619 48 30.7591 48 24.5C48 18.2409 45.4714 12.2381 40.9706 7.81228C36.4697 3.38642 30.3652 0.900002 24 0.900002C17.6348 0.900002 11.5303 3.38642 7.02944 7.81228C2.52856 12.2381 0 18.2409 0 24.5C0 30.7591 2.52856 36.7619 7.02944 41.1877C11.5303 45.6136 17.6348 48.1 24 48.1ZM22.665 16.1456C22.2132 15.8492 21.688 15.6789 21.1455 15.653C20.6031 15.6271 20.0636 15.7465 19.5847 15.9985C19.1058 16.2504 18.7055 16.6255 18.4264 17.0837C18.1473 17.5418 17.9999 18.0659 18 18.6V30.4C17.9999 30.9341 18.1473 31.4582 18.4264 31.9163C18.7055 32.3745 19.1058 32.7496 19.5847 33.0015C20.0636 33.2535 20.6031 33.3729 21.1455 33.347C21.688 33.3211 22.2132 33.1508 22.665 32.8544L31.665 26.9544C32.0759 26.685 32.4128 26.32 32.6458 25.8919C32.8788 25.4637 33.0007 24.9856 33.0007 24.5C33.0007 24.0144 32.8788 23.5363 32.6458 23.1081C32.4128 22.68 32.0759 22.315 31.665 22.0456L22.665 16.1456Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  .video-block .video {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: auto;
  }
  .video-block .video iframe {
    height: 400px;
  }
}
@media (max-width: 580px) {
  .video-block .video iframe {
    height: 320px;
  }
}
@media (max-width: 480px) {
  .video-block .video iframe {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .video-block .video iframe {
    height: 200px;
  }
}
.video-block .video img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-block__content {
  overflow-y: auto;
  max-height: 367px;
  scrollbar-width: thin;
  /* width */
  /* Track */
  /* Handle */
}
@media (max-width: 768px) {
  .video-block__content {
    max-height: 100%;
  }
}
.video-block__content .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  color: #303133;
}
@media (max-width: 768px) {
  .video-block__content .name {
    font-size: 13px;
  }
}
.video-block__content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #303133;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .video-block__content p {
    font-size: 13px;
  }
}
.video-block__content::-webkit-scrollbar {
  width: 5px;
}
.video-block__content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #EDF7FD;
  border-radius: 5px;
}
.video-block__content::-webkit-scrollbar-thumb {
  background: rgba(180, 195, 207, 0.61);
  border-radius: 5px;
}

.stock {
  margin-top: 90px;
}
@media (max-width: 768px) {
  .stock {
    margin-top: 50px;
  }
}
.stock__inner {
  padding: 40px 30px;
  background: #F4F8FB;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .stock__inner {
    padding: 15px;
  }
}
.stock__inner-row {
  display: flex;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .stock__inner-row {
    flex-direction: column;
  }
}
.stock__inner-row .stock-col {
  width: 50%;
  display: flex;
}
@media (max-width: 768px) {
  .stock__inner-row .stock-col {
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.stock__inner-row .stock-col .stock-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
}
.stock__inner-row .stock-col .stock-img {
  margin-right: 20px;
}
@media (max-width: 768px) {
  .stock__inner-row .stock-col .stock-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.stock__inner-row .stock-col:first-child {
  margin-right: 25px;
}
.stock-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
}
@media (max-width: 768px) {
  .stock-title {
    font-size: 24px;
  }
}

.benefit {
  margin-top: 60px;
  padding-bottom: 20px;
}
.benefit-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
}
@media (max-width: 768px) {
  .benefit-title {
    margin-bottom: 25px;
  }
}
.benefit-items {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .benefit-items {
    flex-direction: column;
  }
}
.benefit-item {
  width: 50%;
  margin-top: 25px;
  background: linear-gradient(61.54deg, #1C5CF1 15.1%, #54F5CF 108.48%);
  border-radius: 16px;
  padding: 23px;
}
@media (max-width: 768px) {
  .benefit-item {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
}
.benefit-item:first-child {
  margin-right: 45px;
}
@media (max-width: 768px) {
  .benefit-item:first-child {
    margin-right: 0;
  }
}
.benefit-item svg {
  margin-right: 25px;
}
@media (max-width: 768px) {
  .benefit-item svg {
    width: 20px;
    height: 16px;
    margin-right: 15px;
  }
}
.benefit-item span {
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .benefit-item span {
    font-size: 15px;
    line-height: 140%;
  }
}

.blue-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  color: #FFFFFF;
  padding: 10px 35px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #3A75FF;
  border-radius: 15px;
  margin-top: 30px;
  display: block;
  transition: 0.2s linear;
}
.blue-btn:hover {
  box-shadow: 0px 12px 18px rgba(58, 117, 255, 0.4);
  background: #3A75FF;
}

.stock-for-all {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .stock-for-all {
    margin-top: 40px;
  }
}
.stock-for-all__inner {
  display: flex;
}
@media (max-width: 768px) {
  .stock-for-all__inner {
    flex-direction: column;
  }
}
.stock-for-all__inner .stock-col {
  width: 50%;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col {
    width: 100%;
  }
  .stock-for-all__inner .stock-col:first-child {
    margin-right: 0;
    margin-bottom: 45px;
  }
}
.stock-for-all__inner .stock-col .stock-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 20px;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col .stock-progress {
    padding: 15px;
  }
}
.stock-for-all__inner .stock-col .stock-progress .progress-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-transform: uppercase;
  color: #303133;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col .stock-progress .progress-text {
    font-size: 13px;
  }
}
.stock-for-all__inner .stock-col .stock-progress .progress-percent {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #303133;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col .stock-progress .progress-percent {
    font-size: 13px;
  }
}
.stock-for-all__inner .stock-col .col-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #303133;
  margin-bottom: 30px;
}
.stock-for-all__inner .stock-col .stock-list li {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  margin-bottom: 20px;
}
.stock-for-all__inner .stock-col .stock-list li span {
  font-weight: bold;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col .blue-btn {
    width: 100% !important;
    margin-top: 40px;
    text-align: center;
  }
}
.stock-for-all__inner .stock-col .hint {
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: #303133;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col .hint {
    margin-top: 10px;
  }
}
.stock-for-all__inner .stock-col:first-child {
  margin-right: 45px;
}
@media (max-width: 768px) {
  .stock-for-all__inner .stock-col:first-child .blue-btn {
    display: none !important;
  }
  .stock-for-all__inner .stock-col:first-child .hint {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .stock-for-all__inner .stock-col:last-child .blue-btn {
    display: none !important;
  }
  .stock-for-all__inner .stock-col:last-child .hint {
    display: none !important;
  }
}

.copy-link {
  position: relative;
}
.copy-link::before {
  position: absolute;
  content: "Ссылка скопирована";
  background: #555;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  color: #fff;
  top: -45px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  font-size: 12px;
  opacity: 0;
  transition: 0.1s linear;
}

.copy-link.visible::before {
  transform: translateX(-50%) translateY(0px);
  opacity: 1;
}

.examples {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .examples {
    margin-top: 40px;
  }
}
.examples__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .examples__inner {
    flex-direction: column;
  }
}
.examples__item {
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #F7F7F7;
  border-radius: 16px;
  padding: 30px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.08));
}
@media (max-width: 768px) {
  .examples__item {
    width: 100%;
    padding: 15px;
  }
}
.examples__item:first-child {
  margin-right: 26px;
}
@media (max-width: 768px) {
  .examples__item:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.examples__item .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #303133;
}
.examples__item .text {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .examples__item .text {
    margin-top: 15px;
    font-size: 13px;
  }
}

.faq {
  margin-top: 90px;
}
.faq-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #303133;
  margin-bottom: 40px;
}
.faq .ac {
  background: #F3F9FC;
  border-radius: 16px;
  border: none;
  transition: 0.2s linear;
  font-family: "Montserrat", sans-serif;
}
.faq .ac .ac-trigger {
  border: none;
  border-radius: none;
  padding: 21px;
  padding-left: 60px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #303133;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .faq .ac .ac-trigger {
    font-size: 15px !important;
    padding: 15px;
    padding-left: 45px;
  }
}
.faq .ac .ac-trigger:after {
  content: "";
  right: auto;
  left: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 8.5V17M17 17V25.5M17 17H25.5M17 17H8.5' stroke='%233A75FF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 34px;
  height: 34px;
  background-size: cover;
}
@media (max-width: 768px) {
  .faq .ac .ac-trigger:after {
    left: 5px;
  }
}
.faq .ac .ac-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  color: #303133;
  padding-left: 60px;
  padding-top: 0;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .faq .ac .ac-text {
    font-size: 13px !important;
    padding-left: 45px;
  }
}
.faq .ac.is-active > .ac-header .ac-trigger::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5 17H17H8.5' stroke='%234EC5DE' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
}
.faq .ac.is-active {
  background: #EDF7FE;
}

.ref {
  margin-top: 70px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .ref {
    margin-top: 50px;
  }
}
.ref__inner .text {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #303133;
}
@media (max-width: 768px) {
  .ref__inner .text {
    font-size: 15px;
  }
}
.ref__inner .ref-btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .ref__inner .ref-btns {
    flex-direction: column;
    margin-top: 20px;
  }
}
.ref__inner .ref-btns .blue-btn {
  margin-right: 40px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .ref__inner .ref-btns .blue-btn {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.ref__inner .ref-btns .ref-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: #3A75FF;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.2s linear;
}
.ref__inner .ref-btns .ref-link:hover {
  opacity: 0.6;
}
.ref__inner .ref-btns .ref-link span {
  padding-bottom: 2px;
  border-bottom: 1px dashed #3A75FF;
}
.ref__inner .ref-btns .ref-link svg {
  margin-right: 5px;
}

.progress {
  margin-top: 40px;
}
.progress-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 140%;
  color: #303133;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 768px) {
  .progress-title {
    font-size: 40px;
  }
}
.progress-title::before {
  content: "$";
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #303133;
  position: absolute;
  right: -20px;
  top: 5px;
}
@media (max-width: 768px) {
  .progress-title::before {
    font-size: 18pxx;
  }
}
.progress-wrapper {
  margin: 5px 0px;
  background: #EDF7FD;
  box-shadow: inset 4px 4px 10px rgba(80, 123, 180, 0.1);
  border-radius: 23px;
  width: 100%;
  height: 45px;
  padding: 5px;
}
.progress-line {
  background: linear-gradient(89.97deg, #3A75FF 2.99%, #5697EF 26.59%, #40FFE8 99.97%);
  border-radius: 17px;
  height: 100%;
}
.progress .numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress .numbers span {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #303133;
  position: relative;
}
@media (max-width: 768px) {
  .progress .numbers span {
    font-size: 20px;
  }
}
.progress .numbers span::after {
  content: "$";
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #303133;
  padding-left: 5px;
}
@media (max-width: 768px) {
  .progress .numbers span::after {
    font-size: 20px;
  }
}
.progress .progressbar--text {
  margin-top: 70px;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  color: #303133;
}
@media (max-width: 768px) {
  .progress .progressbar--text {
    font-size: 24px;
    margin-top: 40px;
  }
}